<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @work.body %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @work.image_path %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
